.post-meta {
  font-size: 0.9em;
  color: var(--secondary);
  margin-bottom: 1em;
}

.post-description {
  font-size: 1em;
  color: var(--primary);
  margin-bottom: 1em;
}

.post-toc {
  font-size: 0.9em;
  color: var(--secondary);
  margin-bottom: 2em;
  padding-left: 1em;
  border-left: 3px solid var(--border);
}

.post-toc strong {
  font-size: 1em;
  color: var(--primary);
  display: block;
  margin-bottom: 0.5em;
}

.post-img-view img,
.post-content img {
  max-width: 100%;
  height: auto;
}
